In [ ]:
!pip install pandas
!pip install sqlalchemy # ORM for databases
!pip install ipython-sql # SQL magic function
!pip install pymysql

In [18]:
%load_ext sql
%config SqlMagic.autocommit=False # for engines that do not support autommit
%sql mysql+pymysql://user1:password1@localhost/db1
load_test = %sql select uuid, name, date_time, latency, status from load_test

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * mysql+pymysql://user1:***@localhost/db1
2000 rows affected.

In [19]:
from pandas import DataFrame
load_test_df = DataFrame.from_records(data=load_test, columns=['uuid', 'name', 'date_time', 'latency', 'status'])
load_test_df.drop(['uuid'], axis=1)

       name           date_time latency status
0     test2 2019-04-08 22:32:14    1502    200
1     test1 2019-04-08 22:32:15     558    200
2     test2 2019-04-08 22:32:16     621    200
3     test1 2019-04-08 22:32:16     465    200
4     test1 2019-04-08 22:32:17     423    200
5     test2 2019-04-08 22:32:17     548    200
6     test1 2019-04-08 22:32:18     495    200
7     test1 2019-04-08 22:32:18     402    200
8     test1 2019-04-08 22:32:19     474    200
9     test2 2019-04-08 22:32:19     438    200
10    test2 2019-04-08 22:32:20     446    200
11    test1 2019-04-08 22:32:20     398    200
12    test2 2019-04-08 22:32:21     492    200
13    test1 2019-04-08 22:32:21     405    200
14    test2 2019-04-08 22:32:22     439    200
15    test1 2019-04-08 22:32:22     466    200
16    test2 2019-04-08 22:32:22     463    200
17    test2 2019-04-08 22:32:23     473    200
18    test1 2019-04-08 22:32:23     389    200
19    test1 2019-04-08 22:32:24     393    200
20    test1 2019-04-08 22:32:24     416    200
21    test2 2019-04-08 22:32:25     524    200
22    test1 2019-04-08 22:32:25     405    200
23    test2 2019-04-08 22:32:26     447    200
24    test1 2019-04-08 22:32:26     394    200
25    test2 2019-04-08 22:32:26     435    200
26    test2 2019-04-08 22:32:27     437    200
27    test2 2019-04-08 22:32:27     447    200
28    test1 2019-04-08 22:32:28     454    200
29    test1 2019-04-08 22:32:28     412    200
...     ...                 ...     ...    ...
1970  test2 2019-04-08 22:46:22     437    200
1971  test2 2019-04-08 22:46:22     401    200
1972  test1 2019-04-08 22:46:23     396    200
1973  test1 2019-04-08 22:46:23     382    200
1974  test2 2019-04-08 22:46:23     397    200
1975  test2 2019-04-08 22:46:24     443    200
1976  test1 2019-04-08 22:46:24     391    200
1977  test2 2019-04-08 22:46:25     433    200
1978  test1 2019-04-08 22:46:25     453    200
1979  test1 2019-04-08 22:46:26     377    200
1980  test1 2019-04-08 22:46:26     388    200
1981  test1 2019-04-08 22:46:26     375    200
1982  test2 2019-04-08 22:46:27     408    200
1983  test2 2019-04-08 22:46:27     425    200
1984  test1 2019-04-08 22:46:28     428    200
1985  test1 2019-04-08 22:46:28     376    200
1986  test1 2019-04-08 22:46:28     367    200
1987  test2 2019-04-08 22:46:29     421    200
1988  test2 2019-04-08 22:46:29     440    200
1989  test1 2019-04-08 22:46:30     373    200
1990  test2 2019-04-08 22:46:30     411    200
1991  test1 2019-04-08 22:46:30     376    200
1992  test2 2019-04-08 22:46:31     408    200
1993  test1 2019-04-08 22:46:31     379    200
1994  test1 2019-04-08 22:46:32     399    200
1995  test1 2019-04-08 22:46:32     376    200
1996  test1 2019-04-08 22:46:32     401    200
1997  test2 2019-04-08 22:46:33     414    200
1998  test1 2019-04-08 22:46:33     390    200
1999  test2 2019-04-08 22:46:34     436    200

[2000 rows x 4 columns]

In [21]:
time_delta = load_test_df['date_time'].max() - load_test_df['date_time'].min()
request_per_second = load_test_df['date_time'].count() / time_delta.seconds
print('Request per second: ' + str(request_per_second))

Request per second: 2.3255813953488373